{
  "service": {
    "id": "php1",
    "name": "php",
    "port": {{php_listen_port}},
    "enableTagOverride": false,
    "checks": [
      {
        "id": "cphp1",
        "name": "PHP should respond on {{php_listen_port}}",
        "tcp": "localhost:{{php_listen_port}}",
        "interval": "10s",
        "timeout": "1s"
      }
    ]
  }
}