{
  "service": {
    "id": "mredis1",
    "name": "redis",
    "port": 6379,
    "enableTagOverride": false,
    "checks": [
      {
        "id": "credis1",
        "name": "Redis should respond",
        "script": "{{monitoring_plugins_dir}}/bin/check-redis-ping.rb",
        "interval": "10s"
      }
    ]
  }
}